/* Global styles */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: #F2EAE2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    width: 100%;
    display: block;
    height: auto;
}


p {
    margin: 0;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}


/* Styles for the card */

.card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    border-radius: 1.2rem;
    overflow: hidden;
    background-color: #FFF;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        align-items: center;
        max-width: 60rem;
        height: 45rem;
    }
}

.card__image-desktop {
    display: none;
}

@media (min-width: 768px) {

    .card__image {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card__image-desktop {
        display: block;
    }

    .card__image-mobile {
        display: none;
    }
}




.card__content {
    padding: 2rem;
}

@media (min-width: 768px) {
    .card__information {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }
}



.card__information__category {
    color: #6C7289;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.card__information__title {
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    margin: 0;
    line-height: 1;
    margin: 1rem 0;
}

.card__information__description {
    font-size: 1.4rem;
    color: #6C7289;
    line-height: 1.5;
}

.card__information__price {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card__information__price__old {
    font-size: 1.2rem;
    color: #6C7289;
    text-decoration: line-through;
}

.card__information__price__new {
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    margin: 0;
    color: #3D8168;
}

.card__button {
    background-color: #3D8168;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: 1.5rem 2rem;
    width: 100%;
    position: relative;
}

.card__button::after {
    content: '';
    background-image: url('../images/icon-cart.svg');
    display: inline-block;
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 8rem;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .card__button::after {
        left: 6rem;
    }
}